//--------------------------------------------------------------
// VARIABLES
//--------------------------------------------------------------

//--------------------------------------------------------------
// FONTS
//--------------------------------------------------------------
$font-sans: 'Open Sans', sans-serif;
$line-height: 1.625;

//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$color-gray: #bdc3c7;
$color-white: #fff;
$color-black: #111;
