//--------------------------------------------------------------
// CONTENT
//--------------------------------------------------------------
#wp-todo {

	.panel {
		background: $color-white;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transform: translateX(0);
		transition: transform 0.3s ease-out;
		width: 100%;
		z-index: 2;
	}

	.panel-hidden {
		transform: translateX(100%);
	}

	.wp-todo-content {
		min-height: 310px;
		position: relative;
	}
}